html, body {
    background-color:#f8f9fa;
}

.feature-img-container {
    position: relative;
}

.feature-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    background-color: #000000;
    opacity: 0.7;
    padding:1.5rem;
}

.feature-image {
    width: 100%;
    height: auto;
}
